<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= blogpost.title %></div>
	<div class="ui clearing divider"></div>
	<h6><%= blogpost.created.toDateString() %></h6>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= blogpost.image %>">
			<div class="description">
				<p><%- blogpost.body %></p>
				<p></p>
			</div>
		</div>
		<div class="ui rating" data-max-rating="1"></div>
		<div class="ui right floated small basic icon buttons">
			<button class="ui toggle button"><i class="heart outline icon"></i></button>
			<button class="ui button"><i class="share icon"></i></button>
			<a href="/blogposts/<%= blogpost._id %>/edit" class="ui button"><i class="edit icon"></i></a>
			<form action="/blogposts/<%= blogpost._id %>?_method=DELETE" method="POST">
				<button class="ui button"><i class="trash outline icon"></i></button>
			</form>
		</div>
	</div>
</div>

<% include partials/footer %>
